# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Secrets
.env
.env.*
*.pem
*.key
secrets.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
